{% extends "base.html" %}
{% block title %} Tempora 2.0 {% endblock title %}
{% block content %}
    <div class="container">
        <div class="title">Register and Make Submission</div>
        <form action="#" method="POST" autocomplete="off">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Team name</span>
                    <input type="text" name = "team_name" placeholder="{{message}}" required>
                </div>
                <div class="input-box">
                    <span class="details">Name</span>
                    <input type="text" name="name" placeholder="Larry" required>
                </div>
                <div class="input-box">
                    <span class="details">Registration Number (If a VITian*)</span>
                    <input type="text" name="reg_no" placeholder="Ex: 20BXX0000" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" name="email" placeholder="@vitstudent.ac.in / @gmail.com" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="phone" name="phone" placeholder="Ex: +91 944xxxxxxx" required>
                </div>
                <br>
                <div class="team-details">
                    <input type="radio" name="team_size" value=1 id="dot-1">

                    <input type="radio" name="team_size" value=2 id="dot-2">
                    
                    <input type="radio" name="team_size" value=3 id="dot-3">

                    <span class="number-team">Team Size</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="team_size">1</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="team_size">2</span>
                        </label>
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="team_size">3</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>

{% endblock content %}